<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.app2gomez"
version = "1.0.0">

<name>App2 - Gomez</name>

<description>
Aplicacion que describe el funcionamiento de PhoneGap
</description>

<author href="https://example.com" email="juanzx3@hotmail.com">
Francisco Gomez
</author>

<icon src="jquery-mobile/images/1.png" gap:density="ldpi" gap:platform="android" />
<icon src="jquery-mobile/images/2.png" gap:density="mdpi" gap:platform="android" />
<icon src="jquery-mobile/images/3.png" gap:density="hdpi" gap:platform="android" />
<icon src="jquery-mobile/images/4.png" gap:density="xhdpi" gap:platform="android" />

</widget>

